
.logo{

    font-family: 'Rakkas', cursive;
    font-size: 27px;
    color: rgba(29, 28, 28);
    background-color: white;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.card-image{

    height: 150px;
    width:150px;
}

.commentUser{
    height: 50px;
    width: 50px;
}

.no-image{
    background-color: gray;
    padding: 42px;
    margin-left: 90px;
    margin-right: 90px;
    height: 131px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(240, 58, 82);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.float:hover{
    text-decoration: none;
    color: white;
}

.my-float:hover{
    text-decoration: none
}

#delete-form{
    display: inline-block
}

.edit{
    display: inline-block
}

.edit-image{
    width: 150px;
    height: 150px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
.secondaryNav{
    background-color: rgb(228, 218, 218)
}

#singleStoryImage{
    width: 500px;
    height: 400px;
}

#carouselExampleIndicators{
    background-color: #999;
}

